html {
  font-family: sans-serif;
  background: #333;
  margin: auto;
  width: 100%;
  background-image: url('../images/page_background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

head {
  background: #003633;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  background: #003633;
  color: white;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  font-variant: small-caps;
  font-stretch: thin;
  margin: auto;
  text-align: left;
  color: white;
  padding: 20px;
  /*padding-left: 40px;*/
}

h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  color: white;
  margin: 1rem 0;
  font-variant: small-caps;
}

/*p {
  font-size: 11pt;
}*/

p { 
  color: darkgray; 
  text-align: justify;
  font-family: 'Source Sans Pro', sans-serif; 
  /*font-size: 16px; */
  line-height: 28px; 
  margin: 0 0 24px;

}

/* code for navbar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #003633;
  width: 100%;
}


li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background 0.1s;
}

li a:hover:not(.active) {
  background-color: #27A4C4;
}

.active {
  background-color: orange;
}

/* end code for navbar */

a {
  color: #377ba8;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

nav {
  background: #003633;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-variant: small-caps;
}
/*
nav h1 {
  flex: auto;
  margin: 0;
}

nav h1 a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}

nav ul  {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a, nav ul li span, header .action {
  display: block;
  padding: 0.5rem;
}
*/
header {
  background: #003633;
}


.mainsection {
  display: inline-block;
  background-image: url('../images/hawk_banner_main.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  padding-top: 44%;
}


.content > header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: flex-end;
}

.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
}

.post > header {
  display: flex;
  align-items: flex-end;
  font-size: 0.85em;
}

.post > header > div:first-of-type {
  flex: auto;
}

.post > header h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}

.post .about {
  color: slategray;
  font-style: italic;
}

.post .body {
  white-space: pre-line;
}

.container:last-child {
  margin-bottom: 0;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

input, textarea {
  margin-bottom: 1em;
  font-family: sans-serif;
}

textarea {
  resize: vertical;
  height: 50px;
}

input.danger {
  color: #cc2f2e;
}

input[type=submit] {
  align-self: start;
  min-width: 10em;
}

.uploadbtn {
  position: relative;
  display: inline-block;
  background: #27A4C4;
  transition: background 0.2s;
  bottom: 100px;
  left: 3%;
  font-size: 4vmin;
  display: inline-block;
  width: 30%;
  padding: 1%;
  text-align: center;
  font-size: 120%;
  color: white;
  /*border-radius: 5px;*/

}

.uploadbtn:hover {
  transition: background 0.1s;
  background: orange;
}

/* repsonsive form for contact form */

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #005752;
  /*border-radius: 4px;*/
  resize: vertical;
  background: #005954;
  color: white;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: darkgray;
  opacity: 1; /* Firefox */
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color: white;
}

input[type=submit] {
  background-color: #27A4C4;
  color: white;
  padding: 12px 20px;
  border: none;
  /*border-radius: 4px;*/
  cursor: pointer;
  float: left;
}

input[type=submit]:hover {
  background-color: orange;
}

.container {
  /*border-radius: 5px;*/
  background-color: #005954;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  display: inline-block;
  padding: 10px;
  vertical-align: middle;
  float:left;
}


footer {
  background: #003633;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
}


.content-small-about {
  color: #005954;
  font-size: .8em;
  width: 35%;
  padding: 15px;
  /*background: red;*/
}

.content-small-contact {
  font-size: 80%;
  width: 40%;
  padding: 15px;
  /*background: yellow;*/
}

.contact-input {
  width: 100%;
  margin-top: 6px;
}








/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
/*@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}*/

/* end responsive form */